<div class="holder page gmusic">

	<ul id="bands">
		<li class="mysteryskulls">
			<div class="holder">
				<h3>Mystery Skulls</h3>
				<img alt="" src="//cdn.shopify.com/s/files/1/0206/6936/files/mysteryskulls_medium.jpg?50" />
				<p>Mystery Skulls is really the nom de plume of Los Angeles based electronic artist Luis Dubuc. Formerly from Dallas, Texas, Dubuc sounds like Prince fronting Daft Punk, mixing his inspirations of &lsquo;90&rsquo;s R&amp;B and New Jack Swing with EDM music and futuristic sounds. Beyond Mystery Skulls, Dubuc is an active songwriter, producer and remixer, working with a wide range of genres and styles.</p>
				<br />
				<p>"Ghost" by Mystery Skulls is featured in the video for G-Go and can be viewed here.</p>
				<br />
				<a href="http://www.mysteryskulls.com" target="_blank">mysteryskulls.com</a>
			</div>
		</li><!--end Mystery Skulls-->

		<li class="chasingkings">
			<div class="holder">
				<h3>Chasing Kings</h3>
				<img alt="" src="//cdn.shopify.com/s/files/1/0206/6936/files/chasingkings_medium.jpg?52" />
				<p>Chasing Kings is an Alternative Pop band based in Los Angeles, CA. Do It To Myself is the first track to be released from their debut LP, Nice Guys. Deli Magazine has named the group one of LA&rsquo;s top 20 indie bands.</p>
				<br />
				<p>"Do It To Myself" by Chasing Kings is featured in the video for G-Grip and can be viewed here.</p>
				<br /> <a href="http://www.chasingkings.com" target="_blank">chasingkings.com</a>
			</div>
		</li><!--end Chasing Kings-->

		<li class="paradeoflights">
			<div class="holder">
				<h3>Parade of Lights</h3>
				<img alt="" src="//cdn.shopify.com/s/files/1/0206/6936/files/403538_10152216483075562_1962701377_n_medium.jpg?54" />
				<p>Parade of Lights are an alt-electro band based in Los Angeles. Comprised of core members Ryan Daly and Anthony Improgo, the group combines equal parts rock, new wave, and shoegaze to create a unique blend of 80&rsquo;s influenced pop drawing on inspiration from artists like U2, Depeche Mode, M83, and even Madonna.</p>
			</div>
		</li><!--end Parade of Lights-->
	</ul>
  
</div><!-- #page-container -->
