<div id="product" class="gzip">

  {% include 'product-universal' %}

  <div id="features" class="gzip">

    <div class="holder">
      <ul>
        <li>
          <h3>Connects to Everything<br>(That you actually care about)</h3>
          <p>G-ZIP plays with any device that has a 3.5mm headphone jack. Really, it's that easy.</p>
        </li>

        <li>
          <h3>Zip Lines!</h3>
          <p>G-ZIP has a built-in retractable cable that pulls out to plug in and zips up when you're ready to go (not to mention, the zip line is totally fun to play with).</p>
        </li>

        <li>  
          <h3>Batteries Not Included</h3>
          <p>Because you don't need them! G-ZIP has a built-in, lithium-ion rechargeable battery that lasts up to 8 hours and charges through a USB port.</p>
        </li>

        <li>
          <h3>Built Tough</h3> 
          <p>Whether you're adventurous or just straight up clumsy, G-ZIP's rugged housing and protective rubber base will roll with the punches. So rock on.</p>
        </li>
      </ul>

      <div id="feature-img"></div>

    </div>

  </div><!--end features-->

  <div id="quote">
    <blockquote>
      Just bought this <span class="nowrap">G-BOOM</span> and it's the truth! Blows everything else out of the water. <span class="nowrap">G-Project</span>, you have my attention.
      <span class="source">
        <p class="source-name">-Christopher Afshar</p>
        <p class="source-product">G-BOOM User</p> 
      </span>   
    </blockquote>
  <div>

  <div id="product-video">
    <div id="vid-holder"></div>
    <div id="vid-descrip">
      <p>See Madd Chadd and G-ZIP in action</p>
      <a id="KmlG7Hqyogg" class="play"></a>
    </div>
  </div>

</div><!--end product-->



