<div id="product" class="gpop">

  {% include 'product-universal' %}

<div id="features" class="gpop">

    <div class="holder">
      <ul>
        <li>
          <h3>Bluetooth Wireless</h3>
          <p>Stream from any smart device to G-POP with Bluetooth. Pair and play music from your iPhone, iPad, Android or whatever the latest gadget is in a matter of seconds with no wires or cables needed!<br><br>

		  If you insist on using line-in, not to worry, we’ve included a handy cable that plugs into any device with a 3.5mm headphone jack.</p>
        </li>
        
        <li>
          <h3>Hold Your Calls</h3>
          <p>G-POP's got a speakerphone with pick-up and hang-up buttons, so take that important call hands-free when riding, hiking, or even when you're gone fishin’.</p>
        </li>

        <li>
          <h3>Always in Control</h3>
          <p>We’ve included playback and volume buttons right on G-POP so you can leave your phone in your pocket and quickly skip back to listen to your favorite song again.</p>
        </li>
      </ul>

      <div id="feature-img"></div>

    </div>

  </div><!--end features-->

  <!--<div id="quote">
    <blockquote>
      Just bought this <span class="nowrap">G-BOOM</span> and it's the truth! Blows everything else out of the water. <span class="nowrap">G-Project</span>, you have my attention.
      <span class="source">
        <p class="source-name">-Christopher Afshar</p>
        <p class="source-product">G-BOOM User</p> 
      </span>   
    </blockquote>
  <div>-->

  <div id="product-video">
    <div id="vid-holder"></div>
    <div id="vid-descrip">
      <p>Meet G-POP</p>
      <a id="TG7QaoydL28" class="play"></a>
    </div>
  </div>

</div><!--end product-->

