<div id="product" class="ggo">

{% include 'product-universal' %}


  <div id="features" class="ggo">

    <div class="holder">
      <ul>
        <li>
          <h3>The Perfect Speaker Companion</h3>
          <p>G-GO is designed so you can take your music everywhere you go: shower, poolside, backyard, camping, the beach and beyond. G-GO is an on-the-go, ruggedized, water resistant Bluetooth speaker that delivers a completely portable and rich audio listening experience.</p>
        </li>
        
        <li>
          <h3>Splash Proof, Built Tough</h3>
          <p>Where there is water, G-GO can go too! G-GO is designed to withstand water splashing from all angles. It’s built with a rugged housing structure, a protective rubber base and an integrated handle, so you can take it anywhere and everywhere. Now you can jump in the pool cannon ball style, go to the beach, run through sprinklers and bask in the sun with your G-GO always by your side, playing your favorite tunes.</p>
        </li>

        <li>
          <h3>Two Ways to Stream</h3>
          <p>Whether you have an iPhone, iPad, Android or the newest tablet, G-GO streams audio wirelessly via any Bluetooth capable device. You can also connect and play audio from any device with a standard headphone jack with a 3.5mm line in cable.</p>
        </li>

        <li>  
          <h3>Power Up</h3>
          <p>G-GO runs on four AA batteries for up to 8 hours of on-the-go listening. You can keep your devices charged too via the universal USB charging port.</p>
        </li>

        <li>
          <h3>Always in Control</h3> 
          <p>An integrated user interface with playback buttons and equalizer presets allows you to control the paired device directly from G-GO. And when you aren't near the G-GO, you can wirelessly control volume and playback functions.</p>
        </li>
      </ul>

      <div id="feature-img"></div>

    </div>

  </div><!--end features-->


  <div id="quote">
    <blockquote>
      ...perfect to take to the park or the beach, or to use around the house...and the sound is great. I'd been looking for a sturdy portable speaker for a while, and am glad I finally found G-GO!
      <span class="source">
        <p class="source-name">-Ashley from New York</p>
        <p class="source-product">G-GO User</p> 
      </span>   
    </blockquote>
  <div>


  <div id="product-video">
    <div id="vid-holder"></div>
    <div id="vid-descrip">
      <p>Watch G-GO on an overnight adventure</p>
      <a id="pXTzRpix2Z4" class="play"></a>
    </div>
  </div>

</div><!--end product-->









