<div id="product" class="ggrip">

  {% include 'product-universal' %}

  <div id="features" class="ggrip">

    <div class="holder">
      <ul>
        <li>
          <h3>Crush Proof, Drop Tested</h3>
          <p>G-GRIP is made to play hard. It's built with a stronger than strong housing structure and has an elastomer grip and port covers. It's no wimpy accessory speaker that needs its own case. In lab tests it withstood drops of over 8 feet and a crush force of over 1,339 pounds <a href="http://www.youtube.com/watch?v=rw8_IIvR0kE" target="_blank">(see us run it over with our VW Jetta Wagon)</a>. </p>
        </li>
        
        <li>
          <h3>Two Ways to Play</h3>
          <p>Whether you have an iPhone, iPad, Android or whatever the latest gadget is, you can stream wirelessly with Bluetooth to G-GRIP. If you want to plug and play, just use a line in cable and anything that has a headphone jack.</p>
        </li>

        <li>
          <h3>Portable Performance </h3>
          <p>G-GRIP has a built-in rechargeable battery for up to eight hours of play time. It's easy to charge, just plug it  into any USB phone charger, computer or the power adapter that comes with it. A buckled strap lets you carry G-GRIP or clip it onto a bag, branch, backpack or roof rack (check out Jay Watson's photo).</p>
        </li>

        <li>  
          <h3>Always in Control</h3>
          <p>From your phone, choose any music, videos, or games to play with G-GRIP. And when your phone's in your pocket, don't worry, just use the playback and volume buttons directly on G-GRIP.</p>
        </li>
      </ul>

      <div id="feature-img"></div>

    </div>

  </div><!--end features-->

  <div id="quote">
    <blockquote>
       This is THE BEST bluetooth speaker under 150! Also, this thing is pretty much indestructible! Hands down, this is the best speaker in its class and is very affordable!
      <span class="source">
        <p class="source-name">-Randy from Summererville, NC</p>
        <p class="source-product">G-GRIP User</p> 
      </span>   
    </blockquote>
  <div>

  <div id="product-video">
    <div id="vid-holder"></div>
    <div id="vid-descrip">
      <p>Watch us run over a G-GRIP with a VW Jetta Wagon</p>
      <a id="rw8_IIvR0kE" class="play"></a>
    </div>
  </div>

</div><!--end product-->



