<div id="product" class="gbuzz">

  {% include 'product-universal' %}

  <div id="features" class="gbuzz">

    <div class="holder">
      <ul>
        <li>
          <h3>TWO ALARMS, LOTS OF SOUNDS</h3>
          <p>G-BUZZ is built with two alarms and a number of wake up sounds guaranteed to get you out of bed. You can wake up to a standard buzzer, or if you need something with a little more oomph you can wake up to rooster crowings, foghorns blowing, bells chiming or drums drumming. Prefer to wake up to your favorite radio station?<br>G-BUZZ can do that too!</p>
        </li>
        
        <li>
          <h3>SHAKE TO WAKE</h3>
          <p>To make sure your body gets moving as soon as you wake up, G-BUZZ has an internal motion sensor, so when you are ready to stop snoozing just give G-BUZZ a good shake to turn off the alarm.</p>
        </li>

        <li>
          <h3>POWER UP</h3>
          <p>To make sure you wake up with a fully charged phone (something important to all of us at G-Project), G-BUZZ is built with a universal USB charging port. G-BUZZ runs with a standard AC adapter and if you don’t want your alarm tethered to a wall outlet, you can simply pop in four AAA batteries, so it can sit freely on your nightstand.</p>
        </li>

        <li>  
          <h3>SOUNDS FOR NIGHTTIME</h3>
          <p>If you need a little help falling asleep, G-BUZZ has some relaxing sounds to help you out. Fall asleep to crickets chirping, waves crashing, owls hooting or white noise. You can also fall asleep to your favorite FM radio station.</p>
        </li>

        <li>
          <h3>CONNECTS TO EVERYTHING
          <br>(THAT YOU ACTUALLY CARE ABOUT)</h3> 
          <p>G-BUZZ plays with any device that has a 3.5mm headphone jack. From your old school walkmans, record players and cassette decks (that you thought you would never use again), to current gadgets like your tablet or smartphone, it’s that easy to get your music playing with G-BUZZ.</p>
        </li>
      </ul>

      <div id="feature-img"></div>

    </div>

  </div><!--end features-->

  {% comment %}<div id="quote">
    <blockquote>
      Just bought this <span class="nowrap">G-BOOM</span> and it's the truth! Blows everything else out of the water. <span class="nowrap">G-Project</span>, you have my attention.
      <span class="source">
        <p class="source-name">-Christopher</p>
        <p class="source-product">G-BOOM User</p> 
      </span>   
    </blockquote>
  <div>

  <div id="product-video">
    <div id="vid-holder"></div>
    <div id="vid-descrip">
      <p>See Madd Chadd and G-BOOM in action</p>
      <a id="ecwZpYlwgwI" class="play"></a>
    </div>
  </div>{% endcomment %}

</div><!--end product-->



