<nav id="menu">
	<ul class="nav">
		<li class="logo"><img src="{{ 'logo-head.svg' | asset_url }}"></li>
		<li><a href="#" class="drop">Shop <i class="fa fa-caret-down"></i></a>
			<ul>
				{% for product in collections.speakers.products %}
					<li><a href="{{ product.url }}" title="{{ product.title }}">{{ product.title }}</a></li>
				{% endfor %}
			</ul>
		</li>
		<li><a href="#">Support</a></li>
	</ul>
	<ul class="social">
		<li><a href="#"><i class="fa fa-twitter fa-fw"></i></a></li>
		<li><a href="#"><i class="fa fa-instagram fa-fw"></i></a></li>
		<li><a href="#"><i class="fa fa-facebook fa-fw"></i></a></li>
	</ul>
</nav>
